*{
    padding: 0;
    margin: 0;
}
.menu-bar{
    
    background-color: rgba(47, 0, 255, 0.543);
    margin-top: 15px;
    line-height: 0px;
    
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li{
    width: 100%;
    line-height: 1px;
    
    
    padding: 3px 3px;
    
    
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
    height: 1px;
    font-size: 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu-bar ul li:hover{
background-color:green;
}
.sub-menu-1{
    display: none;
    display: flexbox;
    width: 22%;
    height: 60px;
    margin-top: 3px;

    line-height: 20px;
    font-size: 3px;
    
    margin-left: -2.6px;
    
}
.sub-menu-1 ul li a{
    position: relative;
    left: -10px;
    font-size: 5px;
    top: -8px;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    
    background-color:rgb(0,100,0) ;
    
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 3px 1px;

    background-color: transparent;
    text-align: left;
   
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    
    color: red;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -15px;
    margin-left: 63px;
    height: 50px;
    width: 80px;
    text-decoration: none;
    background-color:rgba(0, 26, 255, 0.549);
}
#main{
    
    
    height: 80px;
    width: 100%;
}
#slideimage{
    margin-top: 0px;

    height: 80px;
    width: 100%;
}